<form class="form-inline my-2 ">
    <div class="asd">
        <label class = 'search' for="Searching">Buscador</label>
        <input id='Searching' class='search' (keyup.enter)='peliculasBuscadas($event)' type="text" placeholder=''>
    </div>
  </form>
<div class="movies">
    
    <div class="movie" *ngFor="let pelicula of peliculas">
        <img title="{{pelicula.title}}" src="https://image.tmdb.org/t/p/w200/{{pelicula.poster_path}}"
        alt="poster">
        <a routerLink="/movie/title/{{pelicula._id}}" routerLinkActive="active-link">
            <span>Descripcion</span>
          </a>
    </div>
</div>